__pycache__/
*.pyc
.vscode/
Original_ECG.png
Original_ECG2.png
Reconstructed_ECG.png
Reconstructed_ECG2.png
checkpoints/
cp_hifigan/
cp_hifigan2/
data/
dataset2.py
models2.py
reconstructed_spectrogram.png
reconstructed_spectrogram2.png
spectrogram.png
spectrogram2.png
train2.py
wandb/